@media (max-width: 520px){
    .botao{
        width: 150px;
    }    
    .botao.maior{
        width: 360px;
    }
}
@media (max-width: 420px){
    .botoes{
        display: block;
    }
    h2{
        font-size: 0.8em;
    }
    .botao, .botao.maior{
        margin: 20px auto;
        width: 200px;
    }
}